@charset "utf-8";

/* 
    Todos os CSS's comun entre todas as areas do sistem e que nao estao na 
    template base

    Author     : Arthur Gregorio
    Created on : 19/01/2016
*/

.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

.margin-t-15 {
    margin-top: 15px;
}

no-padding {
    padding: 0 !important;
}

/* linha onde ficam os comandos delecao das dialogs */
.delete-box {
    margin-top: 10px; 
    text-align: right;
}

/* imagem do usuario */
#userImage {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}
@media (max-width: 767px) {
    #userImage {
        float: none;
        margin-right: 0;
        margin-top: -8px;
        line-height: 10px;
    }
}

/* arvore de permissoes do grupo */
.permission-tree {
    margin-top: 15px;
    overflow: auto;
    height: 300px !important;
    width: auto !important;
}

/* legenda do grafico */
.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}