@charset "utf-8";

/* 
    Todos os CSS's comun entre todas as areas do sistem e que nao estao na 
    template base

    Author     : Arthur Gregorio
    Created on : 19/01/2016
*/

.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

.margin-t-15 {
    margin-top: 15px;
}
.margin-t-30 {
    margin-top: 30px;
}

no-padding {
    padding: 0 !important;
}

/* linha onde ficam os comandos delecao das dialogs */
.dialog-controls-box {
    margin-top: 10px; 
    text-align: right;
}

/* texto de confirmacao de delecao */ 
.delete-tip {
    position: relative;
    top: 3px;
}

/* imagem do usuario */
#userImage {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}
@media (max-width: 767px) {
    #userImage {
        float: none;
        margin-right: 0;
        margin-top: -8px;
        line-height: 10px;
    }
}

/* arvore de permissoes do grupo */
.permission-tree {
    margin-top: 15px;
    overflow: auto;
    height: 300px !important;
    width: auto !important;
}

/* legenda do grafico */
.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

/* ajuste da altura das linhas */
.row-with-button tr {
    height: 45px;
}

/* theme selector */
.theme-selector {
    display: block; 
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
}

/* botao de volta ao topo, https://codyhouse.co/gem/back-to-top/ */
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8) url("#{resource['webbudget:img/cd-top-arrow.svg']}") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    opacity: .5;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

/* arruma a legend dos donuts */ 
.doughnut-legend {
    list-style: none;
    padding: 0;
}

/* linha checada da fatura do cartao */
.checked-line {
    background-color: rgba(0, 166, 90, 0.41) !important;
}