<h3>{{#translate}}recover-password.email.greeting{{/translate}}, <b>{{user}}</b></h3>
<p>{{#translate}}recover-password.email.body{{/translate}}</p>
<p><b>{{newPassword}}</b></p>
<p><small>{{#translate}}recover-password.email.notice{{/translate}}.</small></p>
<p>webBudget</p>