@charset "utf-8";

/* 
    All common css to be used across the application

    Author     : Arthur Gregorio
    Created on : 19/01/2016
*/

/*remove the browser input controls*/
input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*some utilities*/
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.margin-t-15 {
    margin-top: 15px;
}
.margin-t-30 {
    margin-top: 30px;
}
.padding-t-25 {
    padding-top: 25px;
}

/*in all td use middle*/
td {
    vertical-align: middle;
}