@charset "utf-8";

/* 
    Todas as customizacoes do primefaces vao estar neste arquivo

    Author     : Arthur Gregorio
    Created on : 26/10/2015
*/

/* customizacao da apreentacao do texto dos botoes */
.ui-button {
    height: 34px;
    text-shadow: none !important;
    background-image: none !important;
}

/* customizacao do componente de mensagem */ 
.ui-messages > div {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    font-size: 16px;
}
.ui-messages-error {
    border-color: #d73925 !important;
    background-color: #dd4b39 !important;
}
.ui-messages-warn {
    border-color: #e08e0b !important;
    background-color: #f39c12 !important;
}
.ui-messages-info {
    border-color: #00acd6 !important;
    background-color: #00c0ef !important;
}
.ui-messages ul {
    margin: 0 !important;
}
.ui-messages span.ui-messages-info-icon, 
.ui-messages span.ui-messages-warn-icon, 
.ui-messages span.ui-messages-error-icon { 
    display: none;
}
.ui-messages-warn-summary, 
.ui-messages-error-summary, 
.ui-messages-info-summary {
    margin-left: 0 !important;
    font-weight: 600 !important;
}

/* corrige a opacidade dos checkboxes das grids */
.ui-chkbox .ui-state-disabled {
    opacity: initial !important;
}

/* remove uma linha preta escrota da header das tabelas */
th[role="columnheader"].ui-state-default {
    border-color: #ccc !important;
}

/* corrige a borda do paginador das datatables */
div.ui-paginator {
    border: 1px solid #dddddd !important; 
    border-top: 0px !important;
}

/* corrige a borda da summary row */
.ui-datatable-summaryrow {
    border: 1px solid #dddddd !important; 
}

/* posicionamento do check nos checkboxes de datatable */ 
span.ui-icon-check {
    position: relative;
    right: 1px;
    bottom: 1px;
}
span.ui-icon-minus {
    position: relative;
    right: 1px;
    bottom: 2px;
}

/* corrige a exibicao do selectonemenu */
.ui-selectonemenu {
    height: 34px;
    min-width: 130px !important;
    display: block !important;
    position: relative !important;
    border-color: #d2d6de !important;
    border-radius: 0 !important;
}
.ui-selectonemenu-trigger {
    width: 30px !important;
    padding: 3px 6px !important;
    border-radius: 0 !important;
}
.ui-selectonemenu-label {
    padding: 6px !important;
}

/* customizacao dos paineis */
.ui-panel {
    padding: 0 !important;
    border: none !important;
}
.ui-panel .ui-panel-content {
    padding: 0 !important;
}

/* remove aquele asterisco porco dos forms */
.ui-outputlabel-rfi {
    display: none;
}

/* tira aquele fundo vermelho do label na hr da validacao */
label.ui-state-error {
    background: none !important;
}

/* corrige o label dos treenodes da arvore de permissoes */
.ui-treenode-label {
    position: relative;
    left: 3px;
}
.ui-tree-toggler {
    position: relative !important;
}

/* customizacao do scroller */
.ui-datascroller-content {
    background: none !important;
    border: none !important;
    padding: 0px !important;
}

/* corrige o CSS no seletor da datatables */
th > div > div.ui-chkbox-box {
    position: inherit;
}