@charset "utf-8";

/* 
    All adminLTE customizations

    Author     : Arthur Gregorio
    Created on : 26/09/2018
*/

/*credit card invoice data grid customization*/
#itemsList\:invoicesGrid_content {
    border: none;
}
#invoicesGrid_content {
    border: none;
    background: none;
    margin: 0 -.5em;
}
#invoicesGrid_content.ui-datagrid-content-empty {
    text-align: center;
    font-size: 18px;
    margin-top: 70px;
}
.invoice-state-label {
    position: relative;
    top: 6px;
    font-size: 14px;
}

/*when a badge is used in a datatable row, this will adjust the spaces*/
.badge-row-fix {
    top: -2px;
    position: relative;
}
.label-row-fix {
    top: -2px;
    position: relative;
}

/*label for the wallet balance*/
.wallet-balance-label {
    font-size: 12px !important;
}

/*period movement data grid customization*/
#itemsList\:periodMovementGrid_content {
    border: none;
}
#periodMovementGrid_content {
    border: none;
    background: none;
    margin: 0 -2px;
}
#periodMovementGrid_content.ui-datagrid-content-empty {
    text-align: center;
    font-size: 18px;
    margin-top: 70px;
}
#periodMovementGrid_content span.label {
    font-size: 100%;
}
.period-movement-widget {
    margin-bottom: 5px;
}
.period-movement-revenue {
    border-left: solid 3px #00a157;
}
.period-movement-expense {
    border-left: solid 3px #f71752;
}
.fix-badge > span.badge {
    position: relative;
    bottom: 3px;
}

/*delete text*/
.delete-text {
    position: relative;
    top: 2px;
}

/*custom box border colors*/
.box.box-blue {
    border-top-color: #3c8dbc;
}
.box.box-black {
    border-top-color: #444;
}
.box.box-purple {
    border-top-color: #605ca8;
}
.box.box-red {
    border-top-color: #dd4b39;
}
.box.box-yellow {
    border-top-color: #f39c12;
}
.box.box-orange {
    border-top-color: #f39c12;
}
.box.box-green {
    border-top-color: #00a65a;
}

/*empty box component*/
.box-empty {
    background: none !important;
    border-top: 0 !important;
    box-shadow: none !important;
}

/*remove all rounded corners*/
.form-control {
    border-radius: 0 !important;
}

/*badge text inside timeline*/
.timeline-header span.label {
    top: -2px;
    position: relative;
    padding: 5px 5px 5px 2px;
}

/*dropdown menu for bootstrap*/
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*all dialogs must open in top of the screen and have this margin*/
.dialog-margin-top {
    margin-top: 100px;
}