@charset "utf-8";

/* 
    All the Primefaces customizations

    Author     : Arthur Gregorio
    Created on : 26/09/2018
*/

/*adjust select boolean button text*/
.ui-selectbooleanbutton > span.ui-button-text {
    position: relative;
    top: 3px;
}

/*adjust the autocomplete content*/
div.ui-autocomplete {
    width: 100% !important;
}
.ui-autocomplete-token{
    padding: 3px !important;
}
.ui-autocomplete-input-token {
    margin: 3px !important;
}
ul.ui-autocomplete-multiple-container {
    width: 100% !important;
    border-radius: 0 !important;
}
ul.ui-autocomplete-multiple-container.ui-state-focus {
    border-color: #3c8dbc;
    box-shadow: none;
}

/*fix the dialog padding in omega theme*/
div.ui-dialog > .ui-dialog-titlebar {
    padding: initial !important;
}
div.ui-dialog > .ui-dialog-content {
    padding: 15px 20px 20px 20px; !important;
}

/*fix the error state at all input components*/
input.ui-state-error {
    border-left: 2px solid #ef5350 !important;
}
span.ui-inputnumber.ui-widget.ui-state-error {
    border: none;
}

/*customize the dialog to display the input field correctly*/
.ui-dialog .form-control {
    z-index: 0 !important;
}
.ui-dialog .ui-inputfield.ui-state-focus {
    border-color: #3c8dbc;
    box-shadow: none;
}

/*remove the rounding conners of the calendar*/
.ui-datepicker-calendar a.ui-state-default {
    border-radius: 0;
}

/*datascroller customization*/
.ui-datascroller-content {
    background: none !important;
    border: none !important;
    padding: 0px !important;
}

/*permission tree adjustments*/
.ui-tree {
    border: none;
}
.ui-treenode-label {
    position: relative;
    left: 3px;
}
.ui-tree-toggler {
    position: relative !important;
}
span.ui-chkbox-icon {
    bottom: 2px;
    right: 1px;
}

/*remove the red background when validation is performed*/
label.ui-state-error {
    background: none !important;
}

/*remove the black line in the column header*/
th[role="columnheader"].ui-state-default {
    border-color: #ccc !important;
}

/*the buttons customizations*/
.ui-button {
    height: 34px;
    border-radius: 0 !important;
    text-shadow: none !important;
    background-image: none !important;
}
.btn-default {
    background-color: #f4f4f4 !important;
    color: #444 !important;
    border-color: #ddd !important;
}
.btn-default:hover,
.btn-default:active,
.btn-default.hover {
    background-color: #e7e7e7 !important;
}
.btn-primary {
    color: white !important;
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
    background-color: #367fa9 !important;
}
.btn-success {
    color: white !important;
    background-color: #00a65a !important;
    border-color: #008d4c !important;
}
.btn-success:hover,
.btn-success:active,
.btn-success.hover {
    background-color: #008d4c !important;
}
.btn-info {
    color: white !important;
    background-color: #00c0ef !important;
    border-color: #00acd6 !important;
}
.btn-info:hover,
.btn-info:active,
.btn-info.hover {
    background-color: #00acd6 !important;
}
.btn-danger {
    color: white !important;
    background-color: #dd4b39 !important;
    border-color: #d73925 !important;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.hover {
    background-color: #d73925 !important;
}
.btn-warning {
    color: white !important;
    background-color: #f39c12 !important;
    border-color: #e08e0b !important;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.hover {
    background-color: #e08e0b !important;
}

/*gravatar customizations*/
.dropdown-toggle > img {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}
@media (max-width: 767px) {
    .dropdown-toggle > img {
        float: none;
        margin-right: 0;
        margin-top: -8px;
        line-height: 10px;
    }
}

/*select one menu bootstrap customization*/
.ui-selectonemenu {
    height: 34px;
    min-width: 130px !important;
    display: block !important;
    position: relative !important;
    border-radius: 0 !important;
}
.ui-selectonemenu-trigger {
    width: 30px !important;
    padding: 3px 6px !important;
    border-radius: 0 !important;
}
.ui-selectonemenu-label {
    padding: 6px !important;
}

/*messaging component customization */
.ui-messages > div {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    font-size: 16px;
}
.ui-messages-error {
    border-color: #d73925 !important;
    background-color: #dd4b39 !important;
}
.ui-messages-warn {
    border-color: #e08e0b !important;
    background-color: #f39c12 !important;
}
.ui-messages-info {
    border-color: #00acd6 !important;
    background-color: #00c0ef !important;
}
.ui-messages ul {
    margin: 0 !important;
}
.ui-messages span.ui-messages-info-icon, 
.ui-messages span.ui-messages-warn-icon, 
.ui-messages span.ui-messages-error-icon { 
    display: none;
}
.ui-messages-warn-summary, 
.ui-messages-error-summary, 
.ui-messages-info-summary {
    margin-left: 0 !important;
    font-weight: 600 !important;
}