/* 
    Created on : 25/02/2014, 19:43:50
    Author     : Arthur Greg?rio
*/

@charset "utf-8";

/* acerta o breadcrumb na template */
.ui-breadcrumb {
    padding: 10px !important;
}
.ui-breadcrumb a {
    text-decoration: none;
}

/* remove linhas indesejadas nos widgets */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-color: #ccc !important;
}

/* legenda do grafico na dashboard sem bordas */
.jqplot-table-legend {
    border: none !important;
}
.jqplot-table-legend-label {
    padding-right: 5px !important;
}