/* 
    Created on : 25/02/2014, 19:43:50
    Author     : Arthur Gregorio
*/

@charset "utf-8";

.ui-breadcrumb a {
    text-decoration: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-color: #ccc !important;
}
.jqplot-table-legend {
    border: none !important;
}
.jqplot-table-legend-label {
    padding-right: 5px !important;
}