/* 
    Created on : 25/02/2014, 19:43:50
    Author     : Arthur Greg?rio
*/

@charset "utf-8";

.ui-messages-error-icon {
    background: url("/webBudget/javax.faces.resource/ui-error-alert.png.xhtml?ln=images") no-repeat !important;
    background-position: 0px -52px;
}
.ui-menuitem-link {
    margin-top: 3px;
}
.ui-button {
    height: 30px;
    width: 100px;
}

.ui-widget-header {
    border: 1px solid #DFDFD8 !important;
}

.selectmanycheckbox.ui-widget label, .ui-selectoneradio.ui-widget label {
    padding-left: 5px;
    padding-bottom: 3px;
}
.ui-breadcrumb a {
    text-decoration: none;
}