/* 
    Created on : 24/02/2014, 20:35:55
    Author     : Arthur Gregorio
*/

@charset "utf-8";

/* Yahoo! CSS Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, 
fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
}
fieldset, img {
    border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: '';
}
abbr, acronym {
    border: 0;
}
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(102,102,102,0), rgba(102,102,102,0.75), rgba(102,102,102,0)); 
    background-image:    -moz-linear-gradient(left, rgba(102,102,102,0), rgba(102,102,102,0.75), rgba(102,102,102,0)); 
    background-image:     -ms-linear-gradient(left, rgba(102,102,102,0), rgba(102,102,102,0.75), rgba(102,102,102,0));  
    background-image:      -o-linear-gradient(left, rgba(102,102,102,0), rgba(102,102,102,0.75), rgba(102,102,102,0)); 
}

/* corpo da pagina */
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
    height: 100%;}
.wrapper {
    width: 1024px;
    min-height: 95%;
    margin: 0 auto;
    overflow-x: auto;
}

/* login ------------------------------------- */
.login {
    width: 320px;
    padding: 60px 0px 0px;
    margin: auto;
}
.login form {
    padding: 26px 24px 24px;
    font-weight: normal;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border: 1px solid rgb(229, 229, 229);
    box-shadow: 0px 4px 10px -1px rgba(200, 200, 200, 0.7);
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.input {
    color: rgb(61, 61, 61);
    font-size: 24px;
    width: 230px;
    border: 1px solid rgb(229, 229, 229);
    background: none repeat scroll 0% 0% rgb(251, 251, 251);
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
}
#inUser {
    background: url("/webBudget/javax.faces.resource/ui-icon-user.png.xhtml?ln=images") no-repeat scroll 7px 9px;
    padding-left: 35px;
    margin-bottom: 10px;
}
#inPassword {
    background: url("/webBudget/javax.faces.resource/ui-icon-key.png.xhtml?ln=images") no-repeat scroll 7px 9px;
    padding-left: 35px;
    margin-bottom: 20px;
}

/* secoes */
.header {
    height: 100px;
}
.logo {
    float: left;
    width: 30%;
    margin-top: 15px;
}
.controls {
    float: left;
    width: 70%;
    margin-top: 15px;
    text-align: right;
}
.menu {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.breadcrumb {
    float: left;
    width: 100%;
}
.breadcrumb-box {
    padding: 0 10px;
}
.content-wrapper {
    float: left;
    width: 100%;
    padding: 10px 0 15px;
}
.content {
    padding: 0 10px 0;
}
/* footer */
.footer {
    width: 1024px;
    height: 5%;
    text-align: center;
    margin: 0 auto;
}
.footer-text {
    position: relative;
    top: 15px;
}

/* caixas do texto quando nao tem grafico */
.no-graph-ins {
    float: left;
    width: 100%;
    height: 200px;
    text-align: center;
}
.no-graph-outs {
    float: left;
    width: 100%;
    height: 200px;
    text-align: center;
}

/* caixas de formularios e botoes */
.form-box-wrapper {
    display: inline-block;
    float: left;
    width: 100%;
}
.left-form-box {
    float: left;
    width: 60%;
}
.rigth-form-box {
    float: left;
    width: 40%;
}
.form-cell {
    padding: 5px 0px 5px 0px; 
}
.form-controls-box {
    float: left;
    width: 100%;
    text-align: right;
    margin-top: 10px;
}
.green-button {
    color: #fff !important;
    background-color: #0081c2 !important;
    border-color: #0081c2 !important;
    display: inline-block !important;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none !important;
    border: 1px solid transparent !important;
    white-space: nowrap !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.green-button:hover {
    color: #fff !important;
    background-color: #47a447 !important;;
    border-color: #398439 !important;
    text-decoration: none !important;
}
.yellow-button {
    color: #fff !important;
    background-color: #0081c2 !important;
    border-color: #0081c2 !important;
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: 400 !important;
    text-align: center !important;
    vertical-align: middle !important;
    cursor: pointer;
    background-image: none !important;
    border: 1px solid transparent !important;
    white-space: nowrap !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.yellow-button:hover {
    color: #fff !important;
    background-color: #ed9c28 !important;
    border-color: #d58512 !important;
    text-decoration: none !important;
}
.red-button {
    color: #fff !important;
    background-color: #0081c2 !important;
    border-color: #0081c2 !important;
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: 400 !important;
    text-align: center !important;
    vertical-align: middle;
    cursor: pointer;
    background-image: none !important;
    border: 1px solid transparent !important;
    white-space: nowrap !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.red-button:hover {
    color: #fff !important;
    background-color: #d2322d !important;
    border-color: #ac2925 !important;
    text-decoration: none !important;
}
.financial-period-info {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #EDEFF0;
    border-color: #D1D3D3;
    color: #000000;
}

/* textos da tela de detalhes do periodo */
.ins-paid {
    line-height: 2;  
    font-size: 18px;  
    color: green;
}
.ins-open {
    line-height: 2; 
    font-size: 18px;
    color: red;
}
.outs-open {
    line-height: 2; 
    font-size: 18px;
    color: red;
}
.outs-paid {
    line-height: 2; 
    font-size: 18px;  
    color: green;
}

/* texto de aviso da senha em preferencias */
.password-hint {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.1em;
}
.change-password {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/* estilo do form de contas de usuario */
.user-account-wrapper {
    width: 100%; 
    background-color: red
}
.user-account-form-right {
    float: left; 
    width: 50%
}
.user-account-form-left {
    float: left; 
    width: 50%
}

/* estilos da pagina de fatura de cartoes */
.card-invoice-controls-box {
    width: 100%; 
    float: left; 
    text-align: right 
}
.card-invoice-filters-box {
    float: left; 
    height: 40px;
    padding: 5px 0px 5px 0px; 
}
.card-invoice-list-box {
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* controles das grids */
.controls-box {
    float: left;
    width: 100%; 
    height: 45px;
}
.filter-box {
    float: left;
    width: 70%;
    height: 100%;
}
.filter-cell {
    float: left;
}
.button-box {
    float: left;
    width: 30%;
    height: 100%;
    text-align: right;
}

/* home do sistema */
.home-wrapper {
    float: left;
    width: 100%;
}
.graphs-box {
    float: left;
    width: 60%;
}
.messages-box {
    float: right;
    width: 40%;
    height: 312px;
}
.movements-box {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.hint-box {
    width: 100%; 
    text-align: center; 
    margin: 10px 0px 10px 0px;
}

/* linhas customizadas das tabelas */
.overdue-movement {
    color: #d60e14;
    font-weight: bold;
}
.unread-message {
    font-weight: bold;
}

/* icones */
.icon-edit {
    width: 70px !important;
    background-image: url("/webBudget/javax.faces.resource/ui-icon-edit.png.xhtml?ln=images") !important;
}
.icon-delete {
    width: 70px !important;
    background-image: url("/webBudget/javax.faces.resource/ui-icon-delete.png.xhtml?ln=images") !important;
}
.icon-detail {
    width: 70px !important;
    background-image: url("/webBudget/javax.faces.resource/ui-icon-detail.png.xhtml?ln=images") !important;
}
.icon-pay {
    width: 70px !important;
    background-image: url("/webBudget/javax.faces.resource/ui-icon-pay.png.xhtml?ln=images") !important;
}
.icon-calculate {
    width: 70px !important;
    background-image: url("/webBudget/javax.faces.resource/ui-icon-calculate.png.xhtml?ln=images") !important;
}
.icon-close {
    width: 70px !important;
    background-image: url("/webBudget/javax.faces.resource/ui-icon-close.png.xhtml?ln=images") !important;
}
.icon-adjust {
    width: 70px !important;
    background-image: url("/webBudget/javax.faces.resource/ui-icon-money.png.xhtml?ln=images") !important;
}

/** css do popup de detalhes de pagamento **/
.attibute-label {
    font-weight: bold;
}
.attibute-row {
    float: left;
    width: 100%;
    margin: 5px 0 5px 0;
}
.attibute-cell {
    float: left;
    width: 50%;
}
.control-row {
    float: left; 
    width: 100%;
    margin-top: 10px;
    text-align: center; 
}

/* telas com grids */
.grid-box {
    float: left; 
    width: 100%;
}

.input-filter {
    height: 20px;
    width: 400px; 
}
.filter-label {
    position: relative;
    bottom: 7px;
}
.checkbox-filter-cell {
    position: relative;
    top: 5px;
    margin-left: 10px;
}
.filter-cell-margin {
    margin-left: 10px;
}
