/* 
    Created on : 24/02/2014, 20:35:55
    Author     : Arthur Gregorio
*/

@charset "utf-8";

@import url('reset.css.xhtml?ln=css');

/* corpo da pagina --------------------------- */
html {
    height: 100%;
}
body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 70%;
    margin: 0 auto;
    min-height: 90%;
}

/* sessoes do layout ------------------------- */
.container {
    width: 100%;
    min-height: 95%;
}
.header {
    height: 60px;
    background: #03A9F4;
}
.header-content {
    position: relative;
    margin: 0 auto;
    width: 80%;
    background: inherit;
}
.breadcrumb {
    background: #f3f5f6;
    margin-bottom: 15px;
    border-bottom: 1px solid #dee4e8;
}
.breadcrumb-content {
    position: relative;
    margin: 0 auto;
    width: 80%;
    background: inherit;
}
.content {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding-bottom: 25px;
}
.footer {
    width: 100%;
    height: 50px;
    background: #f3f5f6;
    border-top: 1px solid #dee4e8;
}
.footer-content {
    margin: 0 auto;
    width: 80%;
}

/* sessoes do layout base -------------------- */
.logo {
    float: left;
    width: 20%;
}
.menu {
    float: left;
    width: 80%;
}
.footer-text {
    position: relative;
    float: left;
    width: 50%;
    top: 17px;
    text-align: right;
}
.version-number {
    font-size: 11pt;
    font-weight: 700;
}
.version-text {
    font-size: 11pt;
}
.footer-logo {
    position: relative;
    float: left;
    width: 50%;
    top: 6px;
}

/* classes gerais do layout ------------------ */
td {
    vertical-align: middle !important;
}
.wb-button {
    height: 30px !important;
    width: 100px; 
}
.div-tb-10 {
    padding: 10px 0;
}
.div-lr-10 {
    padding: 10px 0;
}
.div-align-right {
    text-align: right;
}
.div-align-left {
    text-align: left;
}

/* areas da template ------------------------- */
.main-menu {
    background: none !important;
    background-color: #03A9F4 !important;
    border: none !important;
    height: 60px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0 15px !important;
}
.main-menu > ul {
    height: 100% !important;
}
.main-menu a {
    color: white !important;
    font-size: 11pt !important;
    height: 100%;
    background: none !important;
    padding: 0 !important;
    border: 0 !important;
}
.main-menu a.ui-submenu-link > span {
    position: relative;
    top: 11px;
}
.main-menu a span {
    margin: 10px 10px 10px 10px !important;
}
.main-menu-item ul > li > a {
    color: #707070 !important;
}
.main-menu-item .ui-icon {
    display: none;
}
.main-menu li[role="menuitem"] {
    height: 100%;
    border: 0 !important;
    margin: 0 !important;
}
.main-menu li[role="menuitem"] > .ui-state-hover {
    background-color: #3DB9F7 !important;
}
.main-menu ul[role="menu"].ui-menu-child {
    background: #FFFFFF !important;
    top: 60px !important;
    width: 200px !important; 
    border: none;
    border-radius: 0 !important;
}
.main-menu ul[role="menu"].ui-menu-child > li[role="menuitem"] {
    height: 35px;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}
.main-menu ul[role="menu"].ui-menu-child > li[role="menuitem"] > .ui-state-hover {
    background-color: #e7ebee !important;
    border-bottom: none !important;
}

.session-button {
    top: 13px;
}
.session-button button {
    background: #03A9F4 !important;
    border: none !important;
    box-shadow: none !important;
    color: white !important;
    font-size: 12pt !important;
}
#btSession_menu {
    top: 60px !important;
    border: none !important;
    border-radius: 0 !important;
}
#btSession_menu a {
    color: #707070 !important;
}
#btSession_menu li > a.ui-state-hover {
    background: none;
    background-color: #e7ebee !important;
}

/* tela de login ----------------------------- */
.login {
    width: 320px;
    padding: 60px 0px 0px;
    margin: auto;
}
.login form {
    padding: 26px 24px 24px;
    font-weight: normal;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border: 1px solid rgb(229, 229, 229);
    box-shadow: 0px 4px 10px -1px rgba(200, 200, 200, 0.7);
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.login div {
    text-align: center;
}
.input {
    color: rgb(61, 61, 61);
    font-size: 24px;
    width: 230px;
    border: 1px solid rgb(229, 229, 229);
    background: none repeat scroll 0% 0% rgb(251, 251, 251);
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
}
#inUser {
    background: url("/webBudget/javax.faces.resource/ui-icon-user.png.xhtml?ln=images") no-repeat scroll 7px 9px;
    padding-left: 35px;
    margin-bottom: 10px;
}
#inPassword {
    background: url("/webBudget/javax.faces.resource/ui-icon-key.png.xhtml?ln=images") no-repeat scroll 7px 9px;
    padding-left: 35px;
    margin-bottom: 20px;
}